[2017-11-08 16:09] tsl0922 opened #1 "uglifyjs: SyntaxError: Unexpected token: name (ZmodemError)"
I'm not sure whether this is a uglifyjs or zmodemjs issue, reproduce command:

[code]

[2017-11-08 16:11] FGasper commented on #1
Last I checked, uglifyjs doesn’t grok some of the newer JS syntax in ES5/ES6.

[2017-11-08 16:42] tsl0922 commented on #1
Thanks, got it work with`babelify`:

[code]

[2017-11-08 16:42] #1 closed

[2017-11-10 15:52] tsl0922 commented on #1
@FGasper `require('zmodem.js')` won't import `Zmodem.Browser`, is this by design or should I change it to `require('zmodem.js/dist/zmodem.devel')`?

[2017-11-10 16:00] FGasper commented on #1
For now, try `require('zmodem.js/dist/zmodem')`.

I figured that CommonJS includes would be more likely to be node.js. Maybe that’s worth rethinking.

[2017-11-11 04:40] tsl0922 opened #2 "Uncaught RangeError: Maximum call stack size exceeded"
I'm debugging my server side C code, this happens when I changed the server code to send all the buffered data at once.

[code]

Chrome Network Tab shows the maximum websocket message size is 327751.

[2017-11-11 05:19] tsl0922 commented on #2
Changed the buffer size to 32K, it works fine now.

[2017-11-11 15:48] FGasper commented on #2
Zmodem (the protocol) specifies 1 KiB packet size. The classic lrzsz tool supports up to 8, so that’s what zmodem.js sends.

Just for curiosity, why are you writing new C code for Zmodem? Does none of the existing libraries suffice?

[2017-11-11 17:23] tsl0922 commented on #2
I'm changing ttyd's code (C, not zmodem 😄 ) to support zmodem on the browser (with zmodemjs).

It's initially done now, may be lack of some error handling. You may wan't to try it:

https://github.com/tsl0922/ttyd/commits/dev

[2017-11-11 17:23] #2 closed

[2019-03-22 07:19] yumaojun03 opened #3 "when sz in linux, crc32 failed"
exception:
[code]

lrzsz version:
[code]

but use sz -e is ok
[code]

so, i think when your crc, include control charaters?

can you fix it.
Thank you~!~

[2019-03-22 13:39] FGasper commented on #3
Hi, thanks for the bug report!

Can you please attach the file you were trying to send via sz and the sz command that you used to send the file? And, are you saying that the CRC check does work, or doesn’t work, with the `-e` flag?

(I mean, there’s not much point to the CRC check since it’s all over TCP anyway.)

[2019-03-23 02:48] yumaojun03 commented on #3
In my case,  i use xtermjs to connect my backend Linux server through websocekt,  xtermjs use this lib to implement zmodem

this my backend server distribution information:
[code]

github can't attach file to issue,  i will record my operate below:

1. i touch a new file, nothing in it,  sz file a failed:
[code]
in my browser's developer tool console:
[code]

2. but use sz -e can receive server a

[2019-03-23 11:13] FGasper commented on #3
Thank you for this! I’ll have a look at this later.

Two other questions:

1) Does the same problem happen with lrzsz 0.12.20?

2) Does the xtermjs test suite pass on your machine, with lrzsz 0.12.21rc?

[2019-03-23 12:59] FGasper commented on #3
I pushed a fix for the array_buf issue.

[2019-03-23 13:04] FGasper commented on #3
Also, in your xtermjs installation, are you using binary or text WebSocket messages? (zmodemjs requires binary.)

[2019-03-23 13:05] yumaojun03 commented on #3
1.  same problem with lrzsz version is 0.12.21rc(on ubuntu18.04), not 0.12.20, i will test 0.12.20 later

2. xtermjs demo for zmodem is pass, i can use sz send file success,  my mac book's lrzsz version is 0.12.20

i develop an proxy use golang,  which use ssh over websocket, It's a little different from demo.

[2019-03-23 13:08] yumaojun03 commented on #3
my proxy server transfer data with binary, not use text.

[2019-03-23 13:57] FGasper commented on #3
I just tried Ubuntu 18.10’s lrzsz (which reports as version 0.12.21rc) against the test suite, and it passed.

If the demo works but your implementation doesn’t, then notwithstanding the `array_buf` bug, this sounds like it might be a problem in your implementation.

[2019-03-23 14:04] yumaojun03 commented on #3
ok, thanks, I'll check my implementation again.

[2019-03-23 14:26] yumaojun03 commented on #3
it's my problem,  i found,  it's ok now, thanks!!!

[2019-03-23 14:26] #3 closed

[2019-03-24 02:45] FGasper commented on #3
@yumaojun03 As it happens, while digging into this I realized that there were no tests that actually flex the “happy path” in receive transfers. Worse, I realized that some of tests I did have failed reliably but weren’t even running because of a bug in another test.

So, I’ll roll fixes for all of these into a new release.

[2019-03-25 16:24] zxdong262 opened #4 "Having trouble in cancel a upload process"
Hi @FGasper
Thank you for your great work,

I am trying to add Zmodem support to [electerm](https://github.com/electerm/electerm), I can manage to upload/download/cancel download, but can not cancel the upload, can you give example of cancel download?

[2019-03-25 16:38] FGasper commented on #4
To be honest, I’m not sure that that’s possible in zmodem. I don’t see anything in the protocol documentation about it.

What does sz do if it receives SIGINT while sending the file?

[2019-03-25 16:54] zxdong262 commented on #4
@FGasper Thank you, but I do not know sz process detail.

[2019-03-25 16:54] #4 closed

[2019-06-13 02:22] zxdong262 opened #5 "After upgrade from 0.1.7 to 0.1.9 rz do not work any more"
I will compare the code later to see what happens.

[2019-06-13 02:42] zxdong262 commented on #5
Seems the main change is here: https://github.com/FGasper/zmodemjs/commit/edd14ccbbd8fb384482e712db23e33fc9fea5033

But I do not understand the code.

[2019-06-13 10:48] FGasper commented on #5
Can you please describe the failure you are seeing?

Do the tests pass on your machine? They do flex interaction with rz.

-F

[2019-06-23 09:42] tsl0922 commented on #5
Same here, `rz` is unusable on ttyd now, but `sz` works fine.
[code]

[2019-06-23 12:49] FGasper commented on #5
I do see a test failure now … odd that the CI didn’t catch it.

[2019-06-24 01:00] FGasper commented on #5
Test failure is unrelated.

[2019-06-24 01:20] tsl0922 commented on #5
@FGasper Is there anything that I can help?

You can reproduce the error above on ttyd:

1. download a ttyd binary from: https://github.com/tsl0922/ttyd/releases/tag/1.5.0
2. run `./ttyd_linux.x86_64 bash`
3. open http://localhost:7681
4. type `rz`in the web terminal.

If you want to run a development version of the frontend, follow the README [here](https://github.com/tsl0922/ttyd/tree/1.5.0/html

[2019-06-24 01:38] FGasper commented on #5
Looking.

[2019-06-24 02:12] FGasper commented on #5
@tsl0922 Are you able to make a build that uses this branch: https://github.com/FGasper/zmodemjs/tree/debugging_on

I’m not sure why it’s complaining about an unrecognized header. How can I run ttyd but be able to edit the JS code that it’s running?

[2019-06-24 02:14] tsl0922 commented on #5
You can run the dev server: https://github.com/tsl0922/ttyd/tree/master/html

[2019-06-24 02:16] FGasper commented on #5
Those instructions don’t work:
[code]

[2019-06-24 02:16] FGasper commented on #5
Also:
[code]

[2019-06-24 02:24] FGasper commented on #5
@zxdong262 How can I reproduce the issue as you’ve seen it?

[2019-06-24 03:11] zxdong262 commented on #5
Sorry for the delay.

You can start dev mode:(mac or linux)

[code]

[2019-06-24 03:16] tsl0922 commented on #5
@FGasper `yarn run start` should bu run in the `html` dir.

You can get a ttyd binary from: https://github.com/tsl0922/ttyd/releases/tag/1.5.0, or [build it yourself](https://github.com/tsl0922/ttyd#install-on-linux).

[2019-06-24 04:28] FGasper commented on #5
That’s what I’m doing.

[2019-06-24 04:30] FGasper commented on #5
@zxdong262 Something in your application’s stack seems to have a strange Python version requirement:
[code]

[2019-06-24 04:33] FGasper commented on #5
@zxdong262
[code]
?

[2019-06-24 04:36] tsl0922 commented on #5
@FGasper I think there may be something wrong with your local environment, this is what I get:

![image](https://user-images.githubusercontent.com/1680515/59992080-8734b400-967c-11e9-8501-96ae703ccd89.png)

[2019-06-24 04:41] FGasper commented on #5
@tsl0922 You haven’t defined the “start” script in your package.json file; I assume that’s why it’s not working here. Maybe you have some special setup on your end?

For example, I can run `yarn run build`, and it finishes as expected. But that’s the only script you’ve defined.

[2019-06-24 05:08] FGasper commented on #5
I’ve added another demonstration of how the send session logic works: `bin/zmodemjs-sz.js` in the master branch.

Still trying to get reproduction on the problem. @tsl0922 `npm run start` works on Linux but not macOS … curious.

[2019-06-24 05:13] zxdong262 commented on #5
@FGasper Some node module need build with node-gyp, might need python 2.x or python 3.6+, I guess, you may try `npm i -g node-gyp` first, and `rm -rf node_mdules && npm i`.

[2019-06-24 05:13] tsl0922 commented on #5
@FGasper The screenshot above is already running on macOS... I can confirm there is a "start" script on the latest master branch.

https://github.com/tsl0922/ttyd/blob/master/html/package.json#L14

[2019-06-24 05:15] FGasper commented on #5
@tsl0922
<img width="509" alt="image" src="https://user-images.githubusercontent.com/844867/59993151-2033e280-961d-11e9-9d3f-7cdf1711543d.png">
^^ `rz` works for me on Linux.

I apparently had an outdated repo in macOS. Going to retry now.

[2019-06-24 05:20] tsl0922 commented on #5
@FGasper  Yes, but `rz` only works for small files on linux, and it always fail on macOS's brew installed rz, strange.

[2019-06-24 05:25] FGasper commented on #5
@tsl0922 I’m seeing logs about SIGHUP and “Connection closed” in the browser when I send a 10-MiB file … is that what you mean?
[code]

[2019-06-24 05:26] FGasper commented on #5
[code]
^^ I also see the above when I try to send the file in macOS.

[2019-06-24 05:27] tsl0922 commented on #5
Yes, you can view the error log in the browser console. I don't know how to cancel the zmodem session  when error occurs, so the websocket connection is closed/reopened to force the server side sz/rz to be killed.

[2019-06-24 05:35] FGasper commented on #5
How do I get the webpack server to rebuild zmodem.js if I make changes?

It seems like that’s what the webpack dev server is _supposed_ to do, but it’s not doing it.

[2019-06-24 05:38] tsl0922 commented on #5
It should rebuild automatically (on macOS) when file changes, or you can re run the start command.

[2019-06-24 06:00] FGasper commented on #5
This doesn’t seem to be working. I’m making changes to ttyd/html/node_modules/zmodem.js/src/zsession.js, but I’m not seeing the changes in the browser, even after I rerun `npm run start`.

I’ve just added another test to the master branch that flexes the `rz` logic against a large file.

[2019-06-24 06:07] tsl0922 commented on #5
Well, it only works for the `src` dir, node_modules dir is a monster, it's not watched by default 😂.

[2019-06-24 06:08] FGasper commented on #5
Well that’s not helpful. :-P Anyway, I’ve got it spitting diag statements after publishing. Hang on.

[2019-06-24 06:12] FGasper commented on #5
OK.

In a normal single-file session the flow is:
# sz sends ZSINIT
# rz sends ZACK
# sz sends ZFILE
# rz sends ZRPOS
# sz sends ZDATA (one or more)
# sz sends ZEOF
# rz sends ZRINIT
# sz sends ZFIN
# rz sends ZFIN

That antepenultimate ZRINIT is what’s not happening; your `rz` process is instead sending another ZRPOS. I think that means `rz` isn’t receiving all of the data that it should.

[2019-06-24 06:25] FGasper commented on #5
I’ve added a test to master for sending a 1-MiB file of all random octets.

At this point I’m not sure what to tell you. `rz` says that it’s not getting everything that it expects. My own (several) implementations have no such problems.

I did also try `rz -vvvvvvvvv 2>rz_diag`; here is that output file:
[code]

[2019-06-24 07:08] FGasper commented on #5
@zxdong262 Is there an easy way to update master to use zmodem.js 0.1.9? I see that it uses 0.1.7 currently; when I tried updating package.json and “npm i” it seemed to have no effect.

[2019-06-24 09:18] zxdong262 commented on #5
@FGasper It should install 0.1.9 after `npm i`, maybe your npm is too old? You can try `rm -rf node_modules/zmodem.js && npm i`

[2019-06-24 14:06] FGasper commented on #5
@zxdong262 OK, I have 0.1.9 running now, but `rz` works for me.

There are three changes from the commit you identified: 2 that are just order of promise resolution, and 1 that makes a promise resolve to undefined rather than to another promise. If you’re still having a problem, do you mind reverting each of those individually and seeing if you can identify a particular problem?

Note that the xte

[2019-06-24 14:07] FGasper commented on #5
It would be most helpful if you’d be able to write a test that demonstrates the breakage you’re seeing.

[2019-06-25 05:15] zxdong262 commented on #5
@FGasper Thank you, I would test again as you described.

[2019-06-25 08:46] zxdong262 commented on #5
@FGasper When I import from src, it works, but load zmodem.js directly will not.

[code]

I noticed `zmodem.js/index.js` requires `src/zsentry`, is it the problem? or the build process? Can you check it.

[2019-06-25 10:46] FGasper commented on #5
The build process hasn’t changed from 2 years ago when I integrated zmodem.js with xterm.js. If there’s a problem with it now, it’s likely breakage upstream or improper use.

Do you see a problem with the build?

[2019-06-29 01:49] tsl0922 commented on #5
@FGasper I'm trying to test the new `bin/zmodemjs-sz.js` without ttyd, but still getting errors, can you fix it? This is my test script (run well with the compiled lrz/lsz):

[code]

log:

[code]

[2019-06-29 04:04] FGasper commented on #5
@tsl0922 I’ve fixed the script, but the issue was there, not in the actual zmodem code.

I’m going to close this issue tomorrow unless there is more information given about the breakage.

[2019-06-29 16:06] tsl0922 commented on #5
I enabled the new `DEBUG` flag on master to watch if it matches the "single-file session flow" you given above, then I found the issue: sz (zmodem.js) never sends a `ZFIN` (should be sent via the `session.close()` call), so I wrote a `setInterval` to do this this (a hack), and it works now (for small files, eg: data less than 1000 bytes).

`Zmodem.Browser.send_files` never resolves on ttyd's maste

[2019-06-29 17:01] FGasper commented on #5
@tsl0922 The script you gave demonstrates this working correctly:
[code]

[2019-06-29 17:08] FGasper commented on #5
@tsl0922 Every automated test I have also demonstrates the ZmodemSendSession object sending a ZFIN.

I suspect the issue here is in your implementation. You might try `console.warn()` in your send function.

Last call: can either of you demonstrate a reproducible error that was introduced from 0.1.7 to 0.1.9?

[2019-06-29 17:29] tsl0922 commented on #5
No, maybe you can provide a browser demo with node-pty on your repo to help us.

rz never works good on ttyd, so this issue has been going on for a long time. I spent a lot of time trying to debug and resolve it, but got no luck.

I'm considering remove zmodem support on ttyd for the bad experience.

[2019-06-29 17:40] FGasper commented on #5
@tsl0922 If this is a longstanding problem, then can you please open a new issue that describes the specific issue you’re seeing?

This problem as reported is that a regression happened from 0.1.7 to 0.1.9; based on what you’re saying now, that doesn’t, in fact, appear to be what you’re seeing.

If the issue is that zsession.js isn’t sending a ZFIN, you should be able to diagnose that relatively s

[2019-06-29 17:53] tsl0922 commented on #5
OK, you can close this issue. I will port the C version to the browser with emscripten, and compare it with zmodem.js.

[2019-06-30 04:28] tsl0922 commented on #5
@FGasper  I've figured out it. You are right 👍, it's not zmodemjs's issue.

Both ttyd and node-pty uses none-block IO now, which breaks rz (should be the reason why the zmodem demo in xterm.js repo don't work anymore). After removing the `O_NONBLOCK` flag from the pty fd, everything works fine now on ttyd.

[2019-06-30 12:01] FGasper commented on #5
Non-blocking I/O in node-pty shouldn’t matter to rz; either side of a pipe/tty/socket can be blocking or non-blocking independently of the other.

That said, I’m glad you’ve found a configuration that works for you. :)

[2019-06-30 12:01] #5 closed

[2019-07-12 02:45] NuSkooler opened #6 "Ready enough for general usage?"
I'd love to include a "native" Z-Modem in [ENiGMA 1/2 BBS](https://github.com/NuSkooler/enigma-bbs) - is this ready for general-ish use?

[2019-07-12 14:26] FGasper commented on #6
@NuSkooler It’s as ready as it’s likely to be for the foreseeable future. I myself don’t use it anymore, and the original xterm.js integration that I wrote is incompatible with that project’s new plugin system, but there are other integrations into, e.g., electerm and ttyd, and I continue to support zmodem.js when issues have arisen—which has been rare. The source tree now includes a CLI replaceme

[2019-07-12 19:17] NuSkooler commented on #6
@FGasper Perfect, thanks for the response! I may give this a go soon when I can find some free time. The BBS software in question is only over TCP/IP so should generally be fine.

[2019-09-03 12:07] azuoge commented on #4
Hi @FGasper
Thank you for your great work
I am trying to add Zmodem support to xterm, can you give example of cancel upload？

[2019-09-03 13:00] FGasper commented on #4
@azuoge Look in xterm.js’s repository history for a plugin that I contributed a couple years ago but is incompatible with their new plugin API.

[2019-09-30 10:31] jerch opened #7 "xterm.js v4 and zmodem.js"
@FGasper

Imho zmodem was a valuable addon for xterm.js, but got removed with v4 due changes on our side. Do you have any plans to reestablish such an addon?

Just want to let you know that I might do an addon myself in case you dont want to maintain it yourself.

[2019-09-30 11:49] FGasper commented on #7
Please feel free.

While I still maintain this library, I’ve actually not had the use for the plugin that I anticipated.

Let me know how it goes; I’ll be happy to link to it.

[2019-09-30 11:49] #7 closed

[2019-12-18 08:54] pythonzm opened #9 "how can i use this with jquery"
if there is a demo?

[2019-12-18 14:05] FGasper commented on #9
What would ZMODEM have to do with jQuery?

[2019-12-19 01:50] pythonzm commented on #9
e...i'm Front-end rookie,another question,how to generate dist folder
i just saw test command in scripts of package.json, if i want to run `npm run build`,what should i do

[2020-01-02 02:10] #9 closed

[2020-03-03 15:03] Ri773r opened #10 "Unhandled header!"
I try to implement zmodem protocol using zmodemjs on websocket
And follow the zmodemjs documentation
But when I input rz and sz commands, I get an error. I do n’t know how to solve it.
Can you give me some suggestions or solutions?
Thank you

### Platform and software version
Ubuntu 18.04.3 LTS
lrzsz version 0.12.21rc

### Console error output
When running rz
![image](https://user-images.githubuse

[2020-03-07 16:15] FGasper commented on #10
Best advice I can offer is to refer to existing implementations (e.g., ttyd). There’s also an example sz CLI implementation in the repo.

[2020-03-15 14:52] Ri773r commented on #10
The code implementation completely refers to the existing implementation, but it still reports an error
Is this a back-end problem？

[2020-03-15 15:44] FGasper commented on #10
Can you provide a test case that fails?

[2020-03-22 16:28] Ri773r commented on #10
yes
the test case in this [repository](https://github.com/Ri773r/Webterminal) can reproduce this situation
you can enter rz and sz commands in the terminal
then you will find the error in the console
thanks

[2020-03-22 16:57] FGasper commented on #10
Can you please rework that to a test case for this repository, some JS code that demonstrates how the library as it stands is behaving contrary to its documentation?

[2020-03-28 11:56] Ri773r commented on #10
I found out why I didn't set the sender callback
I'm sorry
But then there's a new error. SZ sometimes returns an error
![image](https://user-images.githubusercontent.com/44192396/77822493-303d9d00-712e-11ea-83a5-f66895ccad1f.png)
Does this mean that I need to send "OO" after saving the file to disk
Like this
[code]

[2020-03-28 12:22] FGasper commented on #10
I’m closing this, as there hasn’t yet materialized a test case that shows a reproducible bug.

I do recognize that it’s hard to get use of this library correct. I’d also accept a PR to add examples of correct usage.

[2020-03-28 12:22] #10 closed

[2020-04-30 02:29] zhinian99 opened #11 "Uncaught TypeError: Cannot read property 'ZRPOS' of null"
_Uncaught TypeError: Cannot read property 'ZRPOS' of null
    at r.Session.Send._consume_header (VM72 zmodem.js:1)
    at r.Session.Send._parse_and_consume_header (VM72 zmodem.js:1)
    at r.Session.Send._consume_first (VM72 zmodem.js:1)
    at r.Session.Send.consume (VM72 zmodem.js:1)
    at t.Sentry.consume (VM72 zmodem.js:1)
    at WebSocket.handleWSMessage (VM73 zmodem.js:30)_

**When I use 'r

[2020-04-30 11:51] FGasper commented on #11
You probably have a bug in how you’re calling zmodemjs.

If you can submit a PR with a test that demonstrates that there’s a bug in this library I’ll look though.

Unfortunately, ZMODEM is just a hard protocol to implement.

[2020-08-04 08:29] leffss commented on #11
in my project [django-webssh](https://github.com/leffss/django-webssh) and [gowebssh](https://github.com/leffss/gowebssh),
i use zmodemjs to implement upload and download functions, but this error often occurs, just like @zhinian99

[2020-08-04 10:56] #6 closed

[2020-08-04 11:07] FGasper commented on #11
@leffss: Best thing would be a PR with a test that reproduces the problem.

It looks like it’s bugging out here:
[code]
Assuming the API is being used as intended, that means there’s a ZRPOS being sent that zmodem.js doesn’t know how to handle.

I suggest adding some debugging statements and seeing if you can further diagnose the problem.

[2020-08-04 13:05] FGasper commented on #11
I’ve made a debug branch:

https://github.com/FGasper/zmodemjs/tree/extra_zrpos

It makes the error report a bit “kinder” and turns on debugging. Let me know if that clarifies anything.

[2020-08-04 13:06] FGasper commented on #11
@leffss @zhinian99 ^^

[2020-08-05 08:18] leffss commented on #11
I used the debug branch https://github.com/FGasper/zmodemjs/tree/extra_zrpos .

![1](https://user-images.githubusercontent.com/49055524/89388344-76d38180-d736-11ea-9b79-6b88708612b9.PNG)

As you said: ZMODEM is just a hard protocol to implement, I still don't understand what happened...

And I also found if use `rz -O` (disable timeout code, wait forever for data) to upload file, it will work well

[2020-08-05 10:35] FGasper commented on #11
@leffss Thank you.

Are you sending just a single file, or multiple files? In the first screenshot it looks like two files are being sent.

I’ve pushed up a few more debugging statements … do you mind retrying?

If you can send me reproduction steps I’ll give it a go on this end.

[2020-08-06 02:02] leffss commented on #11
I test it again.

![1](https://user-images.githubusercontent.com/49055524/89482114-c44dfe00-d7cb-11ea-8515-dd263ca93c27.png)

![2](https://user-images.githubusercontent.com/49055524/89482137-ce6ffc80-d7cb-11ea-8b8f-8d19e627dc1e.png)

![3](https://user-images.githubusercontent.com/49055524/89482151-d2038380-d7cb-11ea-8388-5021011d645e.png)

[2020-08-06 05:08] FGasper commented on #11
@leffss It looks like these latest screenshots don’t include the additional debugging data … do you mind trying with that?

[2020-08-06 05:53] leffss commented on #11
Ok， I will test it with the lastest debug branch.

[2020-08-06 07:02] leffss commented on #11
Latest test results with the lastest debug branch.

![1](https://user-images.githubusercontent.com/49055524/89501349-c4fb8a00-d7f5-11ea-9b9d-f4b46d5ef7a2.png)

![2](https://user-images.githubusercontent.com/49055524/89501363-ca58d480-d7f5-11ea-88c4-912b99880732.png)

![3](https://user-images.githubusercontent.com/49055524/89501368-cdec5b80-d7f5-11ea-9f42-1fea9ac01b9e.png)

![4](https://user-images

[2020-08-06 13:04] FGasper commented on #11
@leffss: So, assuming the `-O` flag is unused, the issue appears _sometimes_ when transferring a single file, but _always_ when transferring multiples?

[2020-08-06 13:38] FGasper commented on #11
@leffss Each zmodem packet consists of a type and 4 octets. I’m pushing up another change to the debug branch to expose those 4 octets.

ZRPOS is how ZMODEM implements error-correction; if the sender receives a ZRPOS, it’ll include a file offset in the 4-octet sequence. That file offset is the receiver saying, “start sending from this offset in the file.” So when the receiver gets packets that fai

[2020-08-06 13:40] FGasper commented on #11
Also, which OS are you running? Is the rz that you’re using a stock build, or did you build it yourself? Have you tried building lrzsz yourself and seeing if that resolves the problem?

Regardless, this is something that zmodem.js _should_ accommodate; I’m just wondering why it happens in the first place.

[2020-08-06 13:59] FGasper commented on #11
Try this: in zsession.js, change MAX_CHUNK_LENGTH to 1024.

I’m starting to think this is a bug in your rz. (Of course, that bug may be everywhere!) But over a reliable connection there _should_ be no reason for that extra ZRPOS.

[2020-08-06 14:08] FGasper commented on #11
Also, have you tried sending files that consist of pure ASCII?

There are sometimes issues with terminal configuration, which would make it a problem in your implementation.

Try this: create a file that consists of octets 0-255, then transfer that file via zmodem.js: by itself, and alongside a copy of itself. See if anything breaks.

[2020-08-06 14:13] FGasper commented on #11
See if your pty has IEXTEN enabled or disabled. This setting affects whether octets 0x0f and 0x16 reach the terminal (and, thus, rz). If those are being blocked then that might explain the problem … though it wouldn’t explain why the timeout flag fixes the issue.

[2020-08-07 03:08] leffss commented on #11
My server os is CentOS Linux release 7.5.1804 (Core).

The original lrzsz version was lrzsz-0.12.20-36.el7.x86_64,

if update to lrzsz-0.12.20-43.el8.x86_64, it also get that error.

When send small files like this:
[code]
it work well.

And I try to change MAX_CHUNK_LENGTH to 1024 and set IEXTEN to 0, it also get that error.
[code]

**Since my program does not support rz -vvvvvvvvv now, I will te

[2020-08-10 01:19] leffss commented on #11
rz -vvvvvvvvv result:
[code]

[2020-08-11 01:12] FGasper commented on #11
@leffss Thank you.

So, this is what stands out to me:
[code]
Do you mind running `strace` on that rz process to see what signal is interrupting the read? I’m assuming it’s SIGALRM, in which case there’s a need to determine:
- Is the browser not sending data?
- Is the server process not forwarding data to rz?

That said, this _probably_ illustrates a use case for making zmodem.js recognize ZRPOS d

[2020-08-11 01:38] FGasper commented on #11
I’ve looked this over. Recognizing ZRPOS will break some assumptions about the interaction between the Session classes and the Zmodem.Browser functions. That’s not the end of the world, but ideally then it’ll need some sort of callback mechanism to alert implementations of the repositioning.

Beyond that, the Transfer object will need to be made smart enough to abstract calls to send() and end() f

[2020-08-11 10:34] FGasper commented on #11
@leffss Actually, on further thought this seems much simpler. Give the branch you’ve been using another try.

[2020-08-12 02:29] leffss commented on #11
Thanks very much. I think it is the browser that caused the timeout when transferring large files. I'll try to use FileReader to read segmentally, maybe it can solve this problem.

[2020-08-12 11:55] FGasper commented on #11
@leffss Would you please, though, give the debug branch a shot with your code as you have it? I’d like to ensure that the ZRPOS is correctly ignored.

[2020-08-12 11:56] FGasper commented on #11
Also, are you not using Zmodem.Browser? That implements the browser logic that you probably want.

[2020-08-13 06:11] leffss commented on #11
Yes, I use Zmodem.Browser.send_files to upload files. I have modified this function by my logic, and now the problem is solved.

[2020-08-13 09:45] FGasper commented on #11
@leffss Would you please run the branch that I’ve made against your _unaltered_ code to verify that ZRPOS is now ignored?

I’ve put a fair bit of time into helping you investigate your problem. Now please help confirm that I’ve solved mine.

[2020-08-14 01:32] leffss commented on #11
![2](https://user-images.githubusercontent.com/49055524/90202717-0d780080-de11-11ea-9498-931404e38e93.png)

[2020-08-14 12:55] FGasper commented on #11
@leffss Thank you! I’ll push a new version that has the updated diagnostics.

Also, do you mind sharing the actual fix for your browser code? I’m curious to see what caused your browser to behave that way … looks like it sent 98,304 bytes then just hung.

[2020-08-17 03:15] leffss commented on #11
[code]

[2020-08-31 06:52] funjobs opened #18 "Xtermjs + ssh2 ，How to use zmodemjs？"
Can you provide some demos about zmodemjs?

[2020-09-02 01:47] Lvyc1995 commented on #18
+1

[2020-09-02 01:58] FGasper commented on #11
@leffss I just looked this over. It looks like you’re accommodating cases where `load` fires before the file is fully read; I’m not sure on what browsers that happens, but the standard appears to describe `load` firing only at the (successful) end.

Anyway, I’m glad your issue is resolved. I’m going to close this issue. Thank you!

[2020-09-02 01:58] #11 closed

[2020-09-02 02:00] FGasper commented on #18
@funjobs There’s demo usage in the distribution’s tests, and in old xtermjs versions there was a plugin.

If you want to contribute further demo code I’d be happy to look at it.

[2020-09-02 02:00] #18 closed

[2020-09-02 02:12] funjobs commented on #18
Thanks.The documentation of zmodemjs may be a bit simple for me. I don't know how to use ssh2 with zmodemjs.

[2020-09-02 02:16] FGasper commented on #18
@funjobs I’m not sure what SSH would have to do with it; WebSocket-powered terminals generally use TLS for encryption.

[2020-09-02 02:46] leffss commented on #18
https://github.com/leffss/gowebssh

[2020-09-09 08:39] Lvyc1995 commented on #10
@walirt 你好，我遇到了和你一样得问题，请问你是怎么解决得呢？

[2020-09-09 08:42] Lvyc1995 commented on #10
@walirt Hello, I encountered the same problem as you, how did you solve it? Where do you mean to set the sender callback? How to solve the subsequent OO problem? Can you provide an simple example? thanks

[2020-09-09 10:13] FGasper commented on #10
@Lvyc1995 https://github.com/FGasper/zmodemjs#troubleshooting

[2020-09-09 10:16] Lvyc1995 commented on #10
thanks

[2020-10-09 12:31] xiaowang04821 opened #19 "'Zmodem.Browser' is Undefined"
When I tried to use zmodem.js in Vue Cli, I found this problem after writing according to your document. Then I went to look at the source code of zmodem.js/src/zessions.js in node_modules and found that you did not introduce'zmodem_browser.js'. I wonder if you did it intentionally?
- zmodem.js 0.1.10version

[2020-10-09 13:06] FGasper commented on #19
It’s in the dist/ files but not included in lib/.

Feel free to submit a PR to add a separate lib/zmodem_browser.js that includes Zmodem.Browser.

[2020-10-09 13:06] #19 closed, assigned to nobody

[2020-10-10 05:07] xiaowang04821 commented on #19
Thank you very much. I have found the right way

[2020-10-14 02:06] xiaowang04821 commented on #10
@walirt Hi,I encountered the same problem as you, Have you solved it, I want to see your example,thanks.

[2020-10-14 05:17] Lvyc1995 commented on #10
建议参考一下这个项目，逻辑是一样的：https://github.com/huyuan1999/django-webssh

[2020-10-14 08:51] hessonsu commented on #10
I have solved the problem!
copy for example
--------------------
let zsentry = new Zmodem.Sentry( {
    to_terminal(octets) { .. },  //i.e. send to the terminal

    sender(octets) { .. },  //i.e. send to the ZMODEM peer

    on_detect(detection) { .. },  //for when Sentry detects a new ZMODEM

    on_retract() { .. },  //for when Sentry retracts a Detection
} );
----------------------
modify code

[2020-10-24 05:34] walirt commented on #10
My code is the same as yours, but it still reports errors
`
Uncaught PROTOCOL: Only thing after ZFIN should be “OO” (79,79)
`

[2020-10-26 06:59] Lvyc1995 commented on #10
Your back-end code needs to process the'OO' code returned by the server. This process requires the cooperation of the front and back ends.You can refer to this project: https://github.com/huyuan 1999/django-webssh, the relevant logic in ssh.py

[2020-11-14 06:05] zxdong262 commented on #11
@FGasper @leffss I have tried @leffss's send_files function, still same error, even try load the https://github.com/leffss/django-webssh/blob/master/webssh/static/zmodem/zmodem.devel.js, still get the same error, any ideas?

[2020-11-14 09:29] zxdong262 commented on #11
@FGasper I think the root cause could be the send function is not real async, just wondering how to know the sending process is over.

[2020-11-14 16:11] FGasper commented on #11
Please take this thread to Gitter. Thank you!

[2020-11-16 01:37] leffss commented on #11
@zxdong262 https://github.com/leffss/gowebssh

[2020-11-16 03:36] zxdong262 commented on #11
@leffss @FGasper I tried https://github.com/leffss/gowebssh, it works, so I think it must be my code's problem.

[2020-12-14 04:20] panda521119 commented on #11
When I use 'rz' to upload a file,I can not cancel

[2020-12-14 04:37] FGasper commented on #11
@panda521119 This is not the forum to use to request help. Please read the docs. Thank you!

I’m unsubscribing from this issue and will not respond further here.

[2021-03-29 01:21] x-077 commented on #7
Hello @jerch ,

I know its an old issue but I was wondering if you have a chance to publish your addon for xterm.js / zmodem  ?

Thanks

[2021-04-19 13:21] NeroSolomon opened #23 "Unhandled header!"
**Describe the bug**
I use zmodemjs in xterm.js which version in 3.14.5, when enter sz, console get error: Uncaught Error: Unhandled header: ZRQINIT
![image](https://user-images.githubusercontent.com/28894970/115219447-2112fe00-a13a-11eb-8861-3434f35740fe.png)

**What happens when you follow README.md’s TROUBLESHOOTING steps?**
1. when i create an empty file and use sz to download, console get err

[2021-04-19 13:48] FGasper commented on #23
Hi!

I’m going to close this since it’s not really a bug report so much as a request for assistance, which I unfortunately don’t have the time to provide.

I did just create a discussion for this repo, as this is a not-infrequent issue that folks report. (It’s generally been, as you suspect, a usage problem rather than a bug in zmodem.js.)

Note that the distribution does include a `bin/` director

[2021-04-19 13:48] #23 closed, assigned to nobody

[2021-04-20 06:54] NeroSolomon commented on #23
@FGasper Thanks a lot!

[2021-11-19 08:29] wangjintianya opened #27 "Vue"
how to use in VUe

[2021-11-19 13:14] FGasper commented on #27
Vue shouldn’t require any special handling.

[2021-11-19 13:14] #27 closed, assigned to nobody

[2021-12-03 09:08] wangjintianya opened #28 "Cannot read property ‘Sentry’ of undefined"
Cannot read property ‘Sentry’ of undefined

[2021-12-03 11:37] #28 closed, assigned to nobody

[2022-04-14 18:01] sorenisanerd opened #29 "No progress report on sending"
`Zmodem.Browser.send_files` allows you to pass an `on_progress` handler. Sadly, it isn't actually usable for a couple of reasons.

First of all, it seems Chrome (and possibly others, I haven't checked) only triggers the progress handler when it's done loading the file. I've tried with files up to ~25 MB in size. Honestly, this makes sense, since on any modern system, loading a file into memory is

[2022-04-14 18:13] FGasper commented on #29
@sorenisanerd Yeah I realized back when first writing zmjs that the on_progress handler wasn’t all that useful.

ZMODEM can send data a few different ways. This library, since it assumes a reliable transport underneath, uses the option that forgoes error detection. In order for your `chunkSize` idea to bear the fruit you envision, I think we’d also need to adjust zmodem.js to do “error detection”

[2022-04-14 22:08] sorenisanerd commented on #29
I was working on a patch for this end and eventually learned about how the websocket API seems to have an infinite buffer, so we not only load the file almost instantly but also shove it into the websocket buffer almost instantly. Two steps forward, and one step back.

Like you suggest, requesting acknowledgment from the remote seems like the way forward.  I tried simply changing the subpacket fra

[2022-04-18 13:20] FGasper commented on #29
I definitely agree! That said, as it happens I myself don’t have much use for it, so I’m not planning to work on it. I’d merge a good PR that includes suitable tests, though.

I envision something like: every 100th (10th? 1,000th?) ZMODEM subpacket requests asynchronous acknowledgement. That way there _should_ be barely any perceptible impact on transmission speed, but there’ll at least be periodi

[2022-04-18 14:53] sorenisanerd commented on #29
I think synchronous is better for once. The max size of the websocket buffer is undefined and if it overflows, the connection is terminated unconditionally (per [the spec](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/send)).

I hadn't considered that the request for ACK is a per subpacket thing. Would it make sense to allow a callback function on the session or offer object so users

[2022-04-18 15:06] FGasper commented on #29
Note, though, that zmodem.js—by design—doesn’t assume WebSocket is involved. The library internals are transport-agnostic, which facilitates use in Electron apps and the like. So depending on `bufferedAmount` won’t work.

[2022-04-18 15:29] sorenisanerd commented on #29
Yep, that's precisely why I was suggesting a callback option, so WebSockets aren't exposed to zmodem.js internals. 👍

[2022-05-24 14:17] alanhe421 opened #31 "How do I exit upload or download on the zmodemjs"
**Describe the bug**

I try   `socket.send(str2ab('\x18\x18\x18\x18\x18\x08\x08\x08\x08\x08'))` but error occur. I don't know why and how to use cancel correctly.

Thank you.

![image](https://user-images.githubusercontent.com/9245110/170863079-c313462f-f1e9-420a-b9b0-e56463437d1a.png)

![image](https://user-images.githubusercontent.com/9245110/170863193-ce770f95-32d1-4e3f-b601-5704ea1927ac.png)

[2022-05-29 10:08] alanhg commented on #29
Zmodem.Browser.send_files({
on_progress(){
}
})

you can get progress.

[2022-07-16 07:08] #31 closed, assigned to nobody

[2022-10-18 22:58] sorenisanerd opened #33 "Not receiving `OO` causes session to get stuck"
It seems like a relatively common problem that the terminating `OO` from `sz` gets lost or misparsed or something. See all these issues:
https://github.com/sorenisanerd/gotty/issues/46
https://github.com/tsl0922/ttyd/issues/239
https://github.com/tsl0922/ttyd/issues/279
https://github.com/Eugeny/tabby/issues/6259
https://github.com/cferdinandi/tabby/issues/132
https://github.com/Eugeny/tabby/issue

[2022-10-18 23:58] FGasper commented on #33
Yeah a timeout seems reasonable; all the same, the terminating OO _should_ come since this is all TCP.

[2022-10-19 00:27] sorenisanerd commented on #33
It very much should! I have spent hours and hours trying to pinpoint how
they get lost, but to no avail.

On Tue, Oct 18, 2022 at 4:58 PM Felipe Gasper ***@***.***>
wrote:

[2022-10-19 01:07] FGasper commented on #33
I wonder if it’s a bug in `sz`. Maybe it neglects to flush its output buffer or something.

Maybe `_consume_ZFIN()` could be where the timeout starts, at the end of which `this._on_session_end()` would be called and `_bytes_after_OO` gets set to an empty array … and if the usual OO arrives then we clear the timeout.

[2022-10-19 01:15] sorenisanerd commented on #33
I suspected `sz`, too. I've stared at it a LOT today and it doesn't seem to
be doing anything out of the ordinary.
https://github.com/UweOhse/lrzsz/blob/master/src/lsz.c#L1855-L1857 is
pretty standard.

I haven't been able to trigger it if I run either `sz`, `bash`, or `gotty`
under `strace` :(

Either way, if `sz` is broken, we still need to support current versions of
it.